*{
    margin: 0;
}
.App {
  font-family: sans-serif;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #828ff3d6;
  border: 1px solid #d1d9e0;
  border-radius: 12px;
  text-align: center;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 8px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

button {
  cursor: pointer;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 12px;
}

li button { background: #e74c3c; }